//Customizable CSS variables
$primary: #2E0708;
$secondary: #EC8528; //Orange color EC8528
$body-bg: #F7F7F7;

$font-family-base: 'Lato', sans-serif;
$border-radius: 0.5rem

// Keep this as is
@import "bootstrap/scss/bootstrap";